body {
  font-family: Arial, sans-serif;
}

.container {
  width: 300px;
 
}

.result {
  margin-top: 10px;
  background-color: #f2f2f2;
  border: 1px solid #ccc;
  padding: 10px;
  font-size: 14px;
  white-space: pre-wrap;
}

.wrapper {
    padding: 0;
    margin: 0;
  }
  .wrapper {
    height: 70px;
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
  
  }
  .checkmark__circle {
    stroke-dasharray: 166;
    stroke-dashoffset: 166;
    stroke-width: 2;
    stroke-miterlimit: 10;
    stroke: #7ac142;
    fill: none;
    animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
  }
  .checkmark {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    display: block;
    stroke-width: 2;
    stroke: #fff;
    stroke-miterlimit: 10;
    margin: 10% auto;
    box-shadow: inset 0px 0px 0px #7ac142;
    animation: fill 0.4s ease-in-out 0.4s forwards,
      scale 0.3s ease-in-out 0.9s both;
  }
  .checkmark__check {
    transform-origin: 50% 50%;
    stroke-dasharray: 48;
    stroke-dashoffset: 48;
    animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
  }
  @keyframes stroke {
    100% {
      stroke-dashoffset: 0;
    }
  }
  @keyframes scale {
    0%,
    100% {
      transform: none;
    }
    50% {
      transform: scale3d(1.1, 1.1, 1);
    }
  }
  @keyframes fill {
    100% {
      box-shadow: inset 0px 0px 0px 30px #7ac142;
    }
  }

.bar{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.domainName{
    padding-top: 13px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 20px;
}

.verticalLine {
    border-left: thin solid #3333;
  }
  .score{
    font-weight: 700;
    padding-top: 13px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
  }



.cross__svg {
    border-radius: 50%;
    display: block;
    height: 154px;
    margin: 4rem auto;
    stroke-width: 3;
    width: 154px;
}

.cross__circle {
    animation: 0.6s ease 0s normal forwards 1 running stroke;
    fill: none;
    margin: 0 auto;
    stroke:#e55454;
    stroke-dasharray: 166;
    stroke-dashoffset: 166;
    stroke-width: 2;
}

.cross__path {
    stroke:#e55454;
    stroke-dasharray: 48;
    stroke-dashoffset: 48;
    transform-origin: 50% 50% 0;
    &--right {
      animation: 0.3s ease 0.8s normal forwards 1 running stroke;
    }
    &--left {
      animation: 1s ease 0.8s normal forwards 1 running stroke;
    }
}

@keyframes stroke {
  100% {
    stroke-dashoffset: 0;
  }
}







.checkmarkCross {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  display: block;
  stroke-width: 2;
  stroke: #fff;
  stroke-miterlimit: 10;
  box-shadow: inset 0px 0px 0px #9f1e1c;
  animation: fill .4s ease-in-out .4s forwards, scale .3s ease-in-out .9s both;
}

.checkmark_circleCross {
  stroke-dasharray: 166;
  stroke-dashoffset: 166;
  stroke-width: 2;
  stroke-miterlimit: 10;
  stroke: #9f1e1c;
  fill: none;
  animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
}

.checkmark_checkCross {
  transform-origin: 50% 50%;
  stroke-dasharray: 48;
  stroke-dashoffset: 48;
  animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
}
.redAlert{
  font-size: 20px;
  color: #9f1e1c;
  font-family: sans-serif;
}